@font-face {
  font-family: "Minion Pro";
  src: url("./fonts/MinionPro-MediumIt.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "P22 Undeground";
  src: url("./fonts/P22UndergroundCYThin.woff");
  font-weight: 100;
}

@font-face {
  font-family: "P22 Undeground";
  src: url("./fonts/P22UndergroundCYProLight.woff");
  font-weight: 300;
}

@font-face {
  font-family: "P22 Undeground";
  src: url("./fonts/P22UndergroundCYProMedium.woff");
  font-weight: 500;
}

